.h-300{
  height: 300px;
}
.btn-info{
  background: #FF8C32;
  color: white;
  padding: 10px 25px;
  border: none;
  font-family: 'Poppins';
  font-weight: 700;
  letter-spacing: 1px;
}
.btn-info:hover{
  background: #FF8C32 !important;
  color: white !important;
}
.btn-dark{
  color: white;
    padding: 10px 25px;
    border: none;
    font-family: 'Poppins';
    font-weight: 700;
    letter-spacing: 1px;
    margin-right: 10px;
}
.dfr{
  display: flow-root;
}

.radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-toolbar label {
  display: inline-block;
  background-color: #ddd;
  padding: 10px 20px;
  font-family: sans-serif, Arial;
  font-size: 16px;
  border: 2px solid #444;
  border-radius: 4px;
}

.radio-toolbar input[type="radio"]:checked + label {
  background-color:#bfb;
  border-color: #4c4;
}

.radio-toolbar input[type="radio"]:focus + label {
  border: 2px dashed #444;
}


.cat{
  margin: 4px;
    background-color: white;
    border-radius: 4px;
    border: 1px solid;
    overflow: hidden;
    float: left;
    padding: 0 !important;
}

.cat label {
  float: left; line-height: 3.0em;
  width: auto;
 height: 3.0em;
}

.cat label span {
  text-align: center;
  padding: 3px 0;
  display: block;
}

.cat label input {
  position: absolute;
  display: none;
  color: #fff !important;
}
/* selects all of the text within the input element and changes the color of the text */
.cat label input + span{color: black;padding: 0px 20px;}


/* This will declare how a selected input will look giving generic properties */
.cat input:checked + span {
    color: #ffffff;
    text-shadow: 0 0  6px rgba(0, 0, 0, 0.8);
    padding: 0px 20px;
}


/*
This following statements selects each category individually that contains an input element that is a checkbox and is checked (or selected) and chabges the background color of the span element.
*/

.action input:checked + span{background-color: #F75A1B;}
.comedy input:checked + span{background-color: #1BB8F7;}
.crime input:checked + span{background-color: #D9D65D;}
.history input:checked + span{background-color: #82D44E;}
.reality input:checked + span{background-color: #F3A4CF;}
.news input:checked + span{background-color: #8C1B1B;}
.scifi input:checked + span{background-color: #AC9BD1;}
.sports input:checked + span{background-color: #214A09;}