@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
*{
  font-family: 'Varela Round', sans-serif;
}
a{
  text-decoration: none !important;
}
h1,h2,h3,h4,h5{
  font-weight: 800;
}
.alt-box{
  padding: 50px 0px;
  background: #563d7c;
  color: #FFF !important;
}
.alt-box h1, .alt-box p{
  color: #FFF;
}
.mb-n70{
  margin-bottom: -70px;
}
.ptb-50{
  padding: 50px 0px;
}
.alt-box h1{
  font-size: 50px;
  font-weight: 800;
}
.alt-title h2{
  border-left: 5px solid #563d7c;
  padding-left: 15px;
  font-size: 26px;
}
.btn-main{
  background: #563d7c;
  color: #FFF;
  padding: 8px;
  font-size: 20px;
}
.mobile-form select{
  padding: 12px;
  margin-bottom: 20px;
}
.card:hover{
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 11%);
}
.card-body{
  width: 80% !important;
  margin: 0px auto;
  padding: 15px 0px;
  text-align: center;
}
.card-body img{
  width: auto;
  height: 100px;
}
.card-body p{
  margin-bottom: 0px;
  margin-top: 5px;
  font-weight: 700;
  color:black;
  text-transform: capitalize;
  font-size: 14px;
}
.bg-grey{
  background: #f2f2f2;
}
.bg-main{
  background: #563d7c;
  color: #FFF;
  border-radius: 8px !important;
}
.work-box {
  padding: 20px;
  text-align: center;
  background: white;
  border-radius: 10px;
  height: 100%;
}
.work-boximg img {
  height: 100px;
  margin-bottom: 15px;
  margin-top: 10px;
}
.bg-main .work-boximg h4 , .bg-main .work-boximg p{
  color: #000 !important;
}
.form-select:focus {
  border-color: black;
  box-shadow: none !important;
}
.btn-main{
  margin-right: 10px;
  background: #563d7c !important;
  font-size: 20px !important;
  padding: 8px 20px;
  border: 1px solid #563d7c;
  color: #FFF;
  font-weight: 700;
  letter-spacing: 0.5px;
}
.btn-main:hover{
  color:#FFF !important;
  border: 1px solid #563d7c !important;
}

.text-cp{
  text-transform: capitalize;
}

.loginfull{
  background: #563d7c;
  /* height: calc(100vh - 145px); */
  height: 100vh;
}
.loginfull a{
  color:#777;
}
.btn-lgn{
  background: #563d7c;
    border: 1px solid #563d7c !important;
    font-size: 18px;
    border-radius: 5px;
    padding: 10px 35px;
    margin: 0px auto;
    text-align: center;
    color:#FFF !important;
}
.btn-lgn:hover{
  background: #563d7c;
  color:#FFF !important;
}
.lgn-input{border: none !important;
  border-bottom: 1px solid #2d3b55 !important;
  border-radius: 0px !important;
  padding: 15px;
  margin-top: 15px !important;}

  .form-control:focus{
    box-shadow:none !important;
  }

  ::placeholder {
    text-transform: capitalize;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    text-transform: capitalize;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    text-transform: capitalize;
  }
@media (max-width: 991.98px) { 

  .media-991-center{
    text-align: center !important;
  }
  .media-991-pb4{
    padding-bottom: 1.5rem!important;
  }
  
  .mb-n70{
    margin-bottom: 0 !important;
  }

 }

 @media (max-width: 767.98px) { 

  }